<p>You can view number of impressions, submissions, and conversion rate of this skin, using the graph and controls below.</p>

<div id="ois-stats-loading-message">Waiting for page to load to begin processing data. Should take a few seconds.</div>
    
<div id="ois-stats-graph-wrapper">
  <div id="impressionStats" class="ois-stats-graph">
    <h3>Number of Impressions</h3>
  </div>
  
  <div id="submissionStats" class="ois-stats-graph">
    <h3>Number of Submissions</h3>
  </div>
  
  
  <div id="conversionRate" class="ois-stats-graph">
    <h3>Conversion Rate</h3>
  </div>
</div> <!-- graph-wrapper -->
  
<div id="ois-stats-controls">  
  <span id="ois-stats-hint">View another statistic:</span>
  <a href="#" data-control="impression" class="ois-stats-controller ois-stats-active">Impressions</a>
  <a href="#" data-control="submission" class="ois-stats-controller">Submissions</a>
  <a href="#" data-control="conversion" class="ois-stats-controller">Conversion Rate</a>
</div>